Source: terra
Section: python
Priority: extra
Build-Depends: debhelper (>= 8),
 python (>= 2.6.6-3~),
 python-distutils-extra (>= 2.10)
Maintainer: Ozcan ESEN <ozcanesen@gmail.com>
Standards-Version: 3.9.3
X-Python-Version: >= 2.6

Package: terra
Architecture: all
Depends: ${misc:Depends},
 ${python:Depends},
 gir1.2-glib-2.0,
 gir1.2-gtk-3.0,
 gir1.2-keybinder-3.0,
 gir1.2-vte-2.90,
 gir1.2-gdkpixbuf-2.0
Description: Dropdown terminal emulator.
 Terra is GTK+3.0 based terminal emulator with useful user interface, it
 also supports multiple terminals with splitting screen horizontally or
 vertically. New features will be added soon. It's very new and
 experimental project. I'ts written in python with python-gobject, If you
 want to contribute just checkout and try. I really appreciate the bug
 reports.
